<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="container">
  <app-title title="Register"></app-title>
  <div class="details">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <text-input
      [control]="fc.name"
      [showErrorsWhen]="isSubmitted"
      label="Name">
    `</text-input>

    <text-input
    [control]="fc.email"
    [showErrorsWhen]="isSubmitted"
    label="Email"
    type="email">
  `</text-input>


  <text-input
  [control]="fc.password"
  [showErrorsWhen]="isSubmitted"
  label="Password"
  type="password">
`</text-input>

<text-input
[control]="fc.confirmPassword"
[showErrorsWhen]="isSubmitted"
label="Confirm Password"
type="password">
`</text-input>

<text-input
[control]="fc.address"
[showErrorsWhen]="isSubmitted"
label="Address">
`</text-input>


<button type="submit">Register</button>

<div class="login">
  Already a user? &nbsp;
  <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">
    Login Here
  </a>
</div>


    </form>
  </div>
</div>
</body>
